@using OrchardCore.Mvc.Utilities;

@{
    Model.Classes.Add("content-item");

    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
    Model.Classes.Add(contentTypeClassName);

    var tag = Tag(Model, "article");
}

<article>
    @if (Model.Header != null || Model.Meta != null)
    {
        <header class="masthead" style="background-image: url('/TheCleanBlogTheme/img/home-bg.jpg'); background-size:cover; height:300px; ">
            @await DisplayAsync(Model.Header)
            @if (Model.Meta != null)
            {
                <div class="metadata">
                    @await DisplayAsync(Model.Meta)
                </div>
            }
        </header>
        <p>@Model.ContentItem.Content</p>
    }
    @await DisplayAsync(Model.Content)
    @if (Model.Footer != null)
    {
        <footer>
            @await DisplayAsync(Model.Footer)
        </footer>
    }
</article>
